/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.header-navbar .navbar-container ul.navbar-nav li i.ficon, .header-navbar .navbar-container ul.navbar-nav li svg.ficon {

    width: 1rem;
    font-size: 1rem;
    color: #fff;
}

h1, h2,h3, h4, h5, h6{
	color: #fff;
}

.center {
	position: absolute;
	left: 50%;
	top: 55%;
	width: 85%;
	transform: translate(-50%, -50%);
}

.navigation {
	background: transparent;
	margin-top: 15px;
}

.brand {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.4em;
}

.brand a,
.brand a:visited {
	color: #ffffff;
	text-decoration: none;
}

.nav-container {
	max-width: 1200px;
	margin: 0 auto;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #2986D7 inset !important;
    -webkit-text-fill-color: #fff !important;
}


// #img1 {
// 	background-image: url("../images/Dashboard/Background1.png");
// 	background-repeat: no-repeat;
// 	border-radius: 10%;
// 	height: 120px;
// 	width: 100%;
// }

// #img2 {
// 	background-image: url("../images/Dashboard/Background2.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img3 {
// 	background-image: url("../images/Dashboard/Frame.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img4 {
// 	background-image: url("../images/Dashboard/Background4.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img5 {
// 	background-image: url("../images/Dashboard/Background5.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img6 {
// 	background-image: url("../images/Dashboard/Background3.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img7 {
// 	background-image: url("../images/Dashboard/Background6.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img8 {
// 	background-image: url("../images/Dashboard/Background7.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img9 {
// 	background-image: url("../images/Dashboard/Background8.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img10 {
// 	background-image: url("../images/Dashboard/Background9.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img11 {
// 	background-image: url("../images/Dashboard/Background10.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img12 {
// 	background-image: url("../images/Dashboard/Background11.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img13 {
// 	background-image: url("../images/Dashboard/Background12.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img14 {
// 	background-image: url("../images/Dashboard/Background13.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img15 {
// 	background-image: url("../images/Dashboard/Background14.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img16 {
// 	background-image: url("../images/Dashboard/Background15.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img17 {
// 	background-image: url("../images/Dashboard/Background16.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img18 {
// 	background-image: url("../images/Dashboard/Background17.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img19 {
// 	background-image: url("../images/Dashboard/Background19.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }

// #img20 {
// 	background-image: url("../images/Dashboard/20.png");
// 	height: 120px;
// 	border-radius: 10%;
// 	width: 100%;
// }